:root.light {
  --bg-color: #ffffff;
  --text-color: #333333;
  --secondary-bg-color: #fefefe;
  --secondary-text-color: #888888;
  --button-bg-color: #f9f9f9;
  --button-hover-bg-color: #f0f0f0;
  --button-border-color: #d1c4a7;
}

:root.dark {
  --bg-color: #474d53;
  --text-color: #f9fafb;
  --secondary-bg-color: #777e88;
  --secondary-text-color: #c2c4c5;
  --button-bg-color: #777e88;
  --button-hover-bg-color: #4b5563;
  --button-border-color: #4b5563;
}

:root.solarized {
  --bg-color: #fdf6e3;
  --text-color: #657b83;
  --secondary-bg-color: #eee8d5;
  --secondary-text-color: #93a1a1;
  --button-bg-color: #eee8d5;
  --button-hover-bg-color: #e4dcc3;
  --button-border-color: #b58900;
}

/* General styles */
.container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: 100dvh;
  box-sizing: border-box;
}

.card {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-sizing: border-box;
  max-height: 100%;
  overflow-y: auto;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.font-controls,
.option-controls {
  display: flex;
  gap: 0.5rem;
}

.counter-container {
  background-color: var(--secondary-bg-color);
  border-radius: 8px;
  overflow: hidden;
  height: 10px;
  margin-top: 8px;
  width: 20dvh;
  color: var(--text-color);
}

.counter-bar {
  background-color: #1b5e20;
  height: 100%;
  transition: width 0.3s ease-in-out;
}

.content-container {
  height: 100dvh;
  word-break: break-word;
  overflow-wrap: break-word;
  flex-grow: 1;
  overflow-y: auto;
  align-content: center;
}

.phrase {
  padding: 3dvh;
  text-align: center;
  line-height: 1.8;
  cursor: pointer;
  margin: 0;
  color: var(--text-color);
  -webkit-tap-highlight-color: transparent;
}

.sub-phrase {
  color: var(--secondary-text-color);
  -webkit-tap-highlight-color: transparent;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.font-btn,
.back-btn,
.switch-btn {
  background-color: var(--button-bg-color);
  color: var(--text-color);
  border: 1px solid var(--button-border-color);
  padding: 0.2rem 0.35rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
}

.font-btn:hover,
.back-btn:hover,
.switch-btn:hover {
  background-color: var(--button-hover-bg-color);
}

.font-btn svg,
.back-btn svg,
.switch-btn svg {
  width: 20px;
  height: 20px;
}

.counter-btn {
  background-color: var(--button-bg-color);
  color: var(--text-color);
  border: 1px solid var(--button-border-color);
  border-radius: 40px;
  padding: 1.5rem 2rem;
  font-size: 3dvh;
  font-weight: bold;
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
}

.counter-btn.bounce {
  animation: pop 0.3s ease;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
