.container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: 100vh;
  box-sizing: border-box;
}

.card {
  background-color: #fff9f4;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-sizing: border-box;
  max-height: 100%;
  overflow-y: auto;
}

.dark .card {
  background-color: #474d53;
  color: #f9fafb;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.font-controls,
.option-controls {
  display: flex;
  gap: 0.5rem;
}

.counter-container {
  background-color: #f8ede0;
  border-radius: 8px;
  overflow: hidden;
  height: 10px;
  margin-top: 8px;
  width: 20vh;
}

.dark .counter-container {
  color: #e5e7eb;
}

.counter-bar {
  background-color: #1b5e20;
  height: 100%;
  transition: width 0.3s ease-in-out;
}

.content-container {
  height: 100vh;
  word-break: break-word;
  overflow-wrap: break-word;
  flex-grow: 1;
  overflow-y: auto;
  align-content: center;
}

.phrase {
  text-align: center;
  line-height: 1.8;
  cursor: pointer;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

.dark .phrase {
  color: #f1f5f9;
}

.sub-phrase {
  color: #777e88;
  -webkit-tap-highlight-color: transparent;
}

.dark .sub-phrase {
  color: #c2c4c5;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.font-btn,
.back-btn,
.switch-btn {
  background-color: #f8ede0;
  color: #1b5e20;
  border: 1px solid #be9d68;
  padding: 0.2rem 0.35rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
}

.switch-btn {
  height: 6vh;
  align-self: center;
}

.font-btn:hover,
.back-btn:hover,
.switch-btn:hover {
  background-color: #eee3d7;
}

.dark .font-btn,
.dark .back-btn,
.dark .switch-btn {
  background-color: #777e88;
  color: #ffffff;
  border: 1px solid #2d3d53;
}

.dark .font-btn:hover,
.dark .back-btn:hover,
.dark .switch-btn:hover {
  background-color: #4b5563;
}

.font-btn svg,
.back-btn svg,
.switch-btn svg {
  width: 20px;
  height: 20px;
}
