.counter-btn {
  background-color: #f8ede0;
  color: #1b5e20;
  border: 1px solid #be9d68;
  border-radius: 40px;
  padding: 1.5rem 2rem;
  font-size: 3vh;
  font-weight: bold;
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
}

.dark .counter-btn {
  background-color: #777e88;
  border-color: #4b5563;
}

.counter-btn.bounce {
  animation: pop 0.3s ease;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
